---
import Tools from "./index.tsx";
---

<html>
    <body>
        <div class="flex">
            <span>
                <Tools />
            </span>
        </div>
    </body>
</html>
<style>
    h1 {
        color: orange;
    }
</style>
