---
import Header from './header'
import Side from "./side.js";
import "../styles/global.css";
---

<html>
    <head>
        <meta charset="UTF-8" />
    </head>
    <body>
        <div>
            <Header/>
            <div class="flex">
                <Side />
                <slot />
                1234
                <div class="text-3xl font-bold underline">test</div>
            </div>
        </div>
    </body>
</html>
